<html>
<head>
    <title>Amusement Park Miniworld</title>
    <link rel="stylesheet" href="../resources/style.css" type="text/css">

</head>

<body>
    <h1>Employees</h1>
    <table>
        <thead>
            <tr>
                <td>Fname</td>
                <td>Minit</td>
                <td>Lname</td>
                <td>ID</td>
                <td>Birth Date</td>
                <td>Salary</td>
                <td>Hire Date</td>
                <td>Address</td>
                <td>Supervisor ID</td>
                <td>Attraction Name</td>
                <td>Attraction Date Assigned</td>
            </tr>
        </thead>
        {{range $key, $value := .EmployeeCollection}}
        <tr>
            <td>{{$value.Fname}}</td>
            <td>{{$value.Minit}}</td>
            <td>{{$value.Lname}}</td>
            <td>{{$key}}</td>
            <td>{{$value.BirthDate}}</td>
            <td>{{$value.Salary}}</td>
            <td>{{$value.HireDate}}</td>
            <td>{{$value.Address}}</td>
            <td>{{$value.SupervisorID.Value}}</td>
            <td>{{$value.AttractionName}}</td>
            <td>{{$value.AttractionDateAssigned}}</td>
        </tr>
        {{end}}
    </table>
        <div style="margin: 20px 0">
        <form action="/insert/" method="POST">
            INSERT INTO 
            <span style="font-family: Courier, sans-serif">
                Employee
            </span>
            VALUES
            <input class="insertInto" name="insertValue" type="text" 
                placeholder="'First name' STR, 'Minit' CHAR, 'Last name' STR, ID INT, 'YYYY-MM-DD' (birth date) STR, salary INT, 'YYYY-MM-DD' (hire date) STR, 'Address' STR, Supervisor_ID INT FK, 'Attraction_Name' STR FK, 'YYYY-MM-DD' (attraction date assigned) STR">
            <input type="text" name="dbName" value="Employee" style="display:none">
            <input type="submit" value="Insert">
        </form>
        Example input: <span style="font-family: Courier, sans-serif">'Eugene', 'H', 'Krabs', 12345, '1965-01-02', 20000,
     '2001-10-20', '10 Bikini Bottom', null, 'The Krusty Krab', '2001-10-20'</span>

    </div>
    <div style="text-align: center; font-size: 10px">
        [<a href="/">back to home</a>]
    </div>
</body>
</html>
